* {
    box-sizing: border-box;
}

body {
    font-family: 'PT Serif', serif;
}

#header {
    background-color:#BEBEBE;
    height: 80px;
    margin: 0 auto;
    
}
#name {
    margin-left:80px;
    margin-top: auto;
    background-color: #B18F9B;
    height: 80px;
    width: 230px;
    padding: 20px 0;
    float:left;
}

#name h1 {
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
}
#name h1:hover {
    color: #BEBEBE;
}
#header a {
    float: right;
    text-decoration: none;
    display:block;
    color: black;
    font-size: 1.2em;
    padding: 27px 20px;
    text-align: center;
    
    font-weight: bold;
}
#header a:hover {
    background-color:#B18F9B;
}
.active {
    background-color: #B18F9B;
    
}