* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;`.
}
h1, h2, h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#header {
    background-color:#BEBEBE;
    height: 80px;
    margin: 0 auto;
    
}
#name {
    margin-left:60px;
    margin-top: auto;
    background-color: #B18F9B;
    height: 80px;
    width: 240px;
    padding: 20px 0;
    float:left;
}

#name h1 {
    margin: 0 auto;
    text-align: center;
    color: black;
}
#name h1:hover {
    color: #BEBEBE;
}
#header a {
    float: right;
    text-decoration: none;
    display:block;
    color: black;
    font-size: 1.2em;
    padding: 29px 20px;
    text-align: center;
    
    font-weight: bold;
}
#header a:hover {
    background-color:#B18F9B;
}
ul {
    margin-right: 60px;
    list-style-type: none;
}
.active {
    background-color: #B18F9B; 
}
#bigcontainer {

    height: auto;
    background-image: URL("../images/green_cup.png");
    padding:60px;
}
#innerdiv {
    padding: 40px;
    height: 500px;
    background-color: #FFFFFF;
}
#innermostdiv h1 {
    margin: 0 auto;
}
hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
img {
    float: left;
    margin-right: 15px;
}
p {
    margin: 0;
}
.footer {
    background-color: #B18F9B;
    height: 60px;
    width: 100%;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}
